@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Shrikhand&display=swap');


//      Variables Colors

$--primary: #9356dc;
$--secondary: #ff79da;
$--primary-background: #F6F6F6;
$--secondary-background: #ffffff;
$--footer-background: #353535;
$--icone :  #353535;
$--test: black;
$--check: #99E2D0;


*{
   
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    
    font-family: "roboto"; 
    background-color:$--primary-background;

}



.fa-regular {
    position: relative; 
    align-items: end; 
    font-size: 25px; 
    padding-top: 10px; 
    padding-right: 15px; 
} 


.description{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between ;
    border-radius: 0px 0px 15px 15px;
    padding:10px 10px 0px 10px
}


