


@mixin base-shadow{
    box-shadow: 0px 4px 4px 0px #00000040;
}

@mixin header-shadow{
    box-shadow: 0px 2px 4px 0px #00000042;

}

@mixin btn-chadow{
    box-shadow: 0px 2px 4px 0px $--secondary;
}

@mixin btn-trans {
         border: none;
        color: $--secondary-background;        
        font-weight: bold ;
        border-radius: 25px ;
        background: linear-gradient(0deg,$--primary 0%,$--secondary 100%);
        @include base-shadow; 
        transition-property: transform; 
        transition-duration: 90ms;
        &:hover{
            transform: scale(1.02);
            opacity: 0.9; 
            @include btn-chadow
             
     } 
    
}


@keyframes appear {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

.loader{

    background-color: red;
    height: 100vh;
}