@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "roboto";
  background-color: #F6F6F6;
}

.fa-regular {
  position: relative;
  align-items: end;
  font-size: 25px;
  padding-top: 10px;
  padding-right: 15px;
}

.description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 0px 0px 15px 15px;
  padding: 10px 10px 0px 10px;
}

header {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2588235294);
}
header img {
  width: 190px;
  padding: 20px;
}

main .city {
  position: relative;
  color: #353535;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
  height: 50px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
main .city h3 {
  margin-left: 15px;
}
main h1, main p {
  margin-bottom: 15px;
}
main p {
  color: #353535;
}
main .explorer {
  padding: 35px 0px 35px 0px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  background-color: #F6F6F6;
}
main .explorer p {
  color: #353535;
}
main .explorer .btn {
  color: white;
  font-weight: bold;
  border: none;
  margin-top: 15px;
  border-radius: 25px;
  padding: 15px 25px;
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
main .explorer .btn:hover {
  opacity: 0.9;
}
main .filtres {
  background-color: #ffffff;
  padding-bottom: 35px;
  padding-top: 15px;
}
main .filtres h2 {
  margin: 30px 60px 30px 60px;
}
main .filtres ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 30px 0px 30px;
  width: 100%;
  list-style-type: none;
}
main .filtres ul li {
  margin: 15px;
  width: 100%;
  margin-bottom: 25px;
  font-weight: bold;
  padding: 20px 10px 20px 10px;
  border-radius: 15px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
main .filtres ul i {
  position: relative;
  color: #353535;
  margin-right: 15px;
}
main .filtres ul span {
  position: relative;
  left: -25px;
  margin-left: 0%;
  padding: 6px 10px;
  border-radius: 20px;
  background-color: #9356dc;
  color: #ffffff;
}
@media screen and (min-width: 1073px) {
  main .filtres h2 {
    margin: 40px 0px 30px 0px;
    padding: 0px 100px 0px 100px;
    align-items: center;
  }
  main .filtres ul {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    padding: 0px 100px 0px 100px;
  }
  main .filtres li {
    display: list-item;
    width: 35%;
  }
  main .filtres .filtres {
    margin: 0px 100px 0px 100px;
  }
}
main .menus {
  background-color: #F6F6F6;
  padding-top: 20px;
}
main .menus h2 {
  margin: 30px 60px 30px 60px;
}
main .menus .card {
  border-radius: 15px 15px 15px 15px;
  margin: 30px;
  flex-direction: column;
  background-color: #ffffff;
}
main .menus .card span {
  border-radius: 3px;
  color: #008766;
  right: 40px;
  margin: 15px;
  padding: 8px;
  position: absolute;
  background: #99E2D0;
}
main .menus .card img {
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  -o-object-position: 50% 60%;
     object-position: 50% 60%;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 200px;
  max-height: 200px;
}
main .menus .card .description {
  position: relative;
}
main .menus .card a {
  text-decoration: none;
  color: black;
}
main .menus .card a h3 {
  margin-bottom: 5px;
}
main .menus .card a i {
  position: absolute;
  font-size: 25px;
  top: 10px;
  right: 15px;
  transform: translateY(-50%);
}

footer {
  background-color: #353535;
}
footer .footer-box {
  padding: 25px;
  justify-content: space-between;
}
footer img {
  padding-bottom: 15px;
  height: 40px;
}
footer p {
  padding-bottom: 10px;
  color: #ffffff;
}
footer p .fa-solid {
  font-size: 10px;
  margin-right: 10px;
}
footer p .fa-solid.fa-utensils {
  margin-right: 15px;
}/*# sourceMappingURL=styles.css.map */