@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "roboto";
  background-color: #F6F6F6;
}

.fa-regular {
  position: relative;
  align-items: end;
  font-size: 25px;
  padding-top: 10px;
  padding-right: 15px;
}

.description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 0px 0px 15px 15px;
  padding: 10px 10px 0px 10px;
}

@keyframes appear {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.loader {
  background-color: red;
  height: 100vh;
}

body .loader {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: #ffffff;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: disappear 200ms 3s forwards;
  transform-origin: top;
}
body .loader .fa-solid:not(:last-child) {
  margin-right: 20px;
}
@keyframes disappear {
  to {
    transform: scale(0);
  }
}
body .loader .fa-solid {
  color: transparent;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  -webkit-background-clip: text;
  animation: bounce 1.2s infinite;
}
@keyframes bounce {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
body .loader .fa-solid:nth-child(2) {
  animation-delay: 0.1s;
}
body .loader .fa-solid:nth-child(3) {
  animation-delay: 0.2s;
}
body header {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2588235294);
}
body header img {
  width: 190px;
  padding: 20px;
}
body main .city {
  position: relative;
  color: #353535;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
  height: 50px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
body main .city h3 {
  margin-left: 15px;
}
body main h1, body main p {
  margin-bottom: 15px;
}
body main p {
  color: #353535;
}
body main .explorer {
  padding: 35px 0px 35px 0px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  background-color: #F6F6F6;
}
body main .explorer p {
  color: #353535;
}
body main .explorer .btn {
  margin-top: 15px;
  padding: 15px 25px;
  border: none;
  color: #ffffff;
  font-weight: bold;
  border-radius: 25px;
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  transition-property: transform;
  transition-duration: 90ms;
}
body main .explorer .btn:hover {
  transform: scale(1.02);
  opacity: 0.9;
  box-shadow: 0px 2px 4px 0px #ff79da;
}
body main .filtres {
  background-color: #ffffff;
  padding-bottom: 35px;
  padding-top: 15px;
}
body main .filtres h2 {
  margin: 30px 60px 30px 60px;
}
body main .filtres ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 30px 0px 30px;
  width: 100%;
  list-style-type: none;
}
body main .filtres ul li {
  margin: 15px;
  width: 100%;
  margin-bottom: 25px;
  font-weight: bold;
  padding: 20px 10px 20px 10px;
  border-radius: 15px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
body main .filtres ul i {
  position: relative;
  color: #353535;
  margin-right: 15px;
}
body main .filtres ul span {
  position: relative;
  left: -25px;
  margin-left: 0%;
  padding: 6px 10px;
  border-radius: 20px;
  background-color: #9356dc;
  color: #ffffff;
}
@media screen and (min-width: 1073px) {
  body main .filtres h2 {
    margin: 40px 0px 30px 0px;
    padding: 0px 100px 0px 100px;
    align-items: center;
  }
  body main .filtres ul {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    padding: 0px 100px 0px 100px;
  }
  body main .filtres li {
    display: list-item;
    width: 35%;
  }
  body main .filtres .filtres {
    margin: 0px 100px 0px 100px;
  }
}
body main .menus {
  background-color: #F6F6F6;
  padding-top: 20px;
}
body main .menus h2 {
  margin: 30px 60px 30px 60px;
}
body main .menus .card {
  border-radius: 15px 15px 15px 15px;
  margin: 30px;
  flex-direction: column;
  background-color: #ffffff;
}
body main .menus .card span {
  border-radius: 3px;
  color: #008766;
  right: 40px;
  margin: 15px;
  padding: 8px;
  position: absolute;
  background: #99E2D0;
}
body main .menus .card img {
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  -o-object-position: 50% 60%;
     object-position: 50% 60%;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 200px;
  max-height: 200px;
}
body main .menus .card .description {
  position: relative;
}
body main .menus .card .description i {
  font-size: 25px;
  position: absolute;
  right: 15px;
  top: 30%;
  transform: translateY(-30%);
}
body main .menus .card .description .fas {
  color: transparent;
  background-image: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
}
body main .menus .card .description :hover.fas {
  opacity: 1;
}
body main .menus .card a {
  text-decoration: none;
  color: black;
}
body main .menus .card a h3 {
  margin-bottom: 5px;
}
body footer {
  background-color: #353535;
}
body footer .footer-box {
  padding: 25px;
  justify-content: space-between;
}
body footer img {
  padding-bottom: 15px;
  height: 40px;
}
body footer p {
  padding-bottom: 10px;
  color: #ffffff;
}
body footer p .fa-solid {
  font-size: 10px;
  margin-right: 10px;
}
body footer p .fa-solid.fa-utensils {
  margin-right: 15px;
}/*# sourceMappingURL=styles.css.map */